/* Fundo com gradiente do Instagram */
.app-background {
  background: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos do card de produto */
.product-card {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card p {
  font-weight: bold;
}

.product-card button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
